*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.8;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.photo {
    text-align: center;
}

.content {
    flex-grow: 1;
}
.content_page {
    justify-content: space-between;
    align-items: center;
    max-width: 750px;
    margin: 0 auto;
    padding: 50px 30px;
}

.content__header {
    margin-bottom: 20px;
}


.content__header .title {
    text-align: center;
    margin-top: 40px;
    line-height: 1.2;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
}

.title__occupation {
    font-size: 21px;
}

.content__body {
    margin-bottom: 20px;
}

.page__footer {
    text-align: center;
    font-weight: 500;
}